@use "./colors/colors";

body {
  box-sizing: border-box;
}

.search-properties-container {
  background-color: colors.$background-primary-color;

  h2 {
    color: colors.$text-primary-color;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
  }

  .search-properties-container__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .properties-search-box {
    padding: 8px;
    margin: 8px;
    border-radius: 10px;
    border: 1px solid colors.$border-primary-color;
  }

  #button-search-properties {
    background-color: colors.$background-secondary-color;
    border: 0;
    border-radius: 50px;
    color: colors.$text-secondary-color;
    padding: 8px;
    max-width: 100%;
    margin: 8px;
  }
}
