@use "../_colors/colors";
@use "../_components/body";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

%line-separator {
  height: 0.001px;
  border-bottom: 0.01px solid rgba(0, 0, 0, 0.26);
}

%display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

%form-box-input {
  padding: 8px;
  margin: 8px;
  border-radius: 10px;
  height: 20px;
  border: 1px solid colors.$color-black;
  flex-grow: 1;
  font-family: "Poppins", sans-serif;
}
