@use "../_colors/colors";
@use "../_extends/extends";

@mixin search-properties-box {
  margin: 30px 60px;
  padding: 20px;
  @extend %display-flex;
}
@mixin search-container__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1000px) {
  .search-properties-box:first-child {
    width: 40%;
  }
}

@mixin button {
  border-radius: 50px;
  padding: 8px 15px;
  max-width: 100%;
  margin: 7px 0;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-weight: 600;

  @media (min-width: 1000px) {
    width: 120px;
  }
}

@mixin pink {
  background-color: colors.$color-pink;
  color: colors.$color-white;
  border: 0;
}

@mixin transparent {
  background-color: rgba(255, 255, 255, 0);
  color: colors.$color-purple;
  border: 2px solid colors.$color-fadedblack;
}
