@use "fonts";
.main-header-container {
  display: flex;
  justify-content: space-between;
  width: 481px;
  margin: 30px 60px;
}
.main-header-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.main-header-title {
  width: 205px;
  height: 55px;
  font-weight: 700;
  font-size: 34.375px;
  line-height: 55px;
}

.fa-solid {
  color: purple;
}
