@use "../_colors/colors";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  background-color: colors.$color-white;
  font-family: "Poppins", sans-serif;
}
