@use "../_colors/colors";
@use "body";
@use "../_extends/extends";

.main-header-container {
  display: flex;
  justify-content: space-between;
  color: colors.$color-purple;
  height: 115px;
  @extend %line-separator;
  width: 100vw;
  position: relative;

  .main-header-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: inherit;
    width: 200px;
  }

  .main-header-title {
    width: 205px;
    height: 55px;
    font-size: 34.38px;
    line-height: 55px;
    font-weight: bolder;
    position: absolute;
    left: 60px;
  }

  .fa-solid {
    width: inherit;
    font-size: 25px;
    text-align: right;
    position: absolute;
    right: 60px;
  }
}
