@use "../_colors/colors";
@use "./body";

.main-header-container {
  display: flex;
  justify-content: space-between;
  margin: 30px 60px;
  color: colors.$color-purple;

  .main-header-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: inherit;
    width: 200px;
  }

  .main-header-title {
    width: 205px;
    height: 55px;
    font-weight: bold;
    font-size: 34.38px;
    line-height: 55px;
    font-weight: bolder;
  }

  .fa-solid {
    width: inherit;
    font-size: 25px;
    text-align: right;
  }
}
