@use "../_colors/colors";
@use "body";

.main-header-container {
  display: flex;
  justify-content: space-between;
  color: colors.$color-purple;
  height: 105px;
  margin: 30px 60px;

  .main-header-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .main-header-title {
    max-width: 205px;
    font-size: 34.38px;
    line-height: 55px;
    font-weight: bolder;
  }

  .fa-solid {
    font-size: 25px;
    text-align: right;
  }
}
