@use "../_colors/colors";

@mixin button {
  border-radius: 50px;
  padding: 8px 15px;
  max-width: 100%;
  margin: 7px 0;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-weight: 600;

  @media (min-width: 1000px) {
    width: 160px;
  }
}

@mixin pink {
  background-color: colors.$color-pink;
  color: colors.$color-white;
  border: 0;
}

@mixin transparent {
  background-color: rgba(255, 255, 255, 0);
  color: colors.$color-purple;
  border: 2px solid colors.$color-fadedblack;
}
